.topJumbotron {
    background-image: url(../images/bluebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: white;
    padding: 50px;
}

.btn {
    padding: 100px;
}

#csImage {
    width: 100%;
}

.container {
    margin: 25px;
}

#me {
    width: 200px;
}

.footer {
    background-color: black;
    padding: 25px;
}

.blockquote {
    color: white;
}

.attribution {
    color: gray;
}
